@{
    ViewBag.Title = "Morph";
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {

        initial = @Html.Raw(@ViewBag.JSON)

        ViewModel = new ko.ModelFactory.AppViewModel(initial);
        
        ko.applyBindings(ViewModel);

    })
</script>
<h2>Morph</h2>
@ViewBag.Json
